* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

h1, h2, h3 {
    margin: 10px 0;
}

ul, li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

textarea{
    margin-top: 5px;
}

#header {
    padding: 30px 80px;
}

#header p {
    font-weight: bold;
    font-size: 40pt;
}

#footer {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    text-align: center;
}

#wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

#menu {
    padding: 0 80px;
}

#menu a {
    display: block;
    padding: 5px 10px;
}

#content {
    display: table-row;
    height: 100%;
    vertical-align: middle;
}

.content{
    padding: 0 80px;
}


.form {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: auto 0;
    vertical-align: bottom;
}

.paragraphStyle1 {
    width: 250px;
    display: block;
    margin-top: 5px;
}

.paragraphStyle2 {
    width: 250px;
    display: inline-block;
    margin-top: 5px;
}

.paragraphStyle3 {
    display: block;
    margin-top: 5px;
}

.paragraphStyle4 {
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
}

.form .paragraphStyle1 {
    margin: auto;
}

.button {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blockStyle {
    margin-right: 40px;
    display: inline-block;
    vertical-align: top;
}

.blockStyle2 {
    margin-right: 40px;
    display: inline-block;
    vertical-align: top;
    width: 60%;
}


.blockStyle:last-child{
    margin: 0;
}

.categoryImage {
    width: 230px;
    height: 285px;
    overflow: hidden;
}